.user {
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    
    padding: 20px;
    width: 700px;
    margin-top: 20px;
    
    list-style: none;

    animation: show-animation 1.5s;

    .data {
        display: flex;
        justify-content: space-between;

        .user-infos {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;

            strong {
                color: #895afd;
                font-size: 20px;

                
                overflow: hidden;
                -webkit-line-clamp: 1;
                white-space: nowrap; 
                text-overflow: ellipsis;
            }

            span {
                color: #888;
                font-size: 14px
            }
        }

        .actions {
            display: flex;
            justify-content: flex-end;

            button {
                background: transparent;
                border: 0;
                cursor: pointer;
                margin: 0 5px;
                
            }
        }
    }

    .compliments { 

        margin-top: 15px; 
        
        .no-compliments {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            
            margin-top: 15px; 

            color: #888;
        }
    }
}

@keyframes show-animation {
    from {
        opacity: 0;
        transform: translate(0px, -50px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}   

@media (max-width: 740px) {
    .user {
        width: 350px;

        .data .user-infos { 
            overflow: hidden;
        }
        
    }
}